/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/** Globales **/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-color: #040404;
  font-family: "Poppins", sans-serif;
}
.contenedor {
  width: 98%;
  margin: 0 auto;
}
@media only screen and (min-width: 480px) {
  .contenedor {
    width: 95%;
  }
}
@media only screen and (min-width: 768px) {
  .contenedor {
    width: 90%;
  }
}
@media only screen and (min-width: 992px) {
  .contenedor {
    width: 98%;
    max-width: 1200px;
  }
}
.seccion {
  padding: 30px 0;
}
p {
  text-align: left;
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 1.5em;
}
h1 {
  color: #ffffff;
  font-size: 2.5em;
  font-weight: 600;
  margin: 0;
}
@media only screen and (min-width: 992px) {
  h1{
    font-size: 4.4em;
  }
}
h2 {
  font-size: 2.6em;
  text-align: center;
  color: #ffffff;
  margin-bottom: 1.3em;
  font-weight: 600;
}

h3 {
  font-size: 3.5em;
  margin: 0;
  line-height: 1.2em;
}
h4 {
  margin: 0;
}

.button {
  padding: 0.5em 1.5em;
  border: 2px solid #ffffff;
  color: #ffffff;
  text-decoration: none;
  box-sizing: border-box;
}

.seccion {
  padding: 3em 0;
}

/* Header */

div.hero {
  background-image: url(../img/Encabezado.png);
  height: 100vh;
  background-position: top right;
  background-repeat: no-repeat;
  background-size: auto;
}
div.barra {
  width: 90%;
  margin: 0 auto;
  padding-top: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  max-width: 1200px;
}
div.barra nav a {
  text-decoration: none;
  color: #ffffff;
  margin-right: 1.8em;
  font-weight: 600;
  font-size: 1.1em;
}

div.logo {
  float: left;
}

/* Menu mobil */
/** Nav principal **/
nav.navegacion-principal {
  display: none;
  width: 100%;
}
nav.navegacion-principal a {
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  font-size: 1.3em;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.6s ease;
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 20px;
  clear: both;
}

@media only screen and (min-width: 992px) {
  nav.navegacion-principal {
    width: 67%;
    float: right;
    text-align: right;
    display: block;
  }
  nav.navegacion-principal a {
    padding: 10px 10px;
    display: inline-block;
    width: auto;
    display: inline-block;
    text-align: center;
    margin: 0 10px 0 0;
  }
}
div.menu-movil {
  width: 60px;
  display: block;
  float: right;
  text-align: right;
  margin-top: 12px;
}

div.menu-movil:hover {
  cursor: pointer;
}

@media only screen and (min-width: 992px) {
  div.menu-movil {
    display: none;
  }
}

div.menu-movil span {
  height: 8px;
  margin-bottom: 6px;
  background-color: white;
  display: block;
}

div.informacion-elipse {
  height: 80vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.informacion-elipse .site-tittle {
  line-height: 1em;
}
div.informacion-elipse .slogan {
  font-weight: 200;
  font-size: 1.5em;
  letter-spacing: 1px;
  width: 80%;
  color: #ffffff;
}
div.home-button {
  margin-top: 3.3em;
}
div.home-button .button:first-child {
  margin-right: 1.5em;
}

/* Contenido Digital */
div.container{
  width: 80%;
  margin: 0 auto;
}
section.contenido-digital {
  max-width: 1400px;
  margin: 0 auto 5em;
}
@media only screen and (min-width: 992px) {
  section.contenido-digital {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
}

div.info-digital {
  color: #ffffff;
  width: 87%;
}
div.info-digital h2 {
  text-align: left;
  margin: 0;
}
div.info-digital p {
  width: 85%;
  display: inline-grid;
  margin: 0.5em 0 0;
}
div.info-digital p span {
  font-size: 0.5em;
}

/* Call to action */

.parallax::before {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
}
section.call-to-action {
  position: relative;
  height: auto;
  max-width: 1400px;
  margin: 0 auto;
}
section.call-to-action::before {
  background-image: url(../img/fondo-calltoaction.png);
  content: "";
}
section.call-to-action .contenido {
  position: relative;
  padding: 9em 0;
  text-align: center;
  color: #ffffff;
  width: 55%;
}
section.call-to-action .contenido a {
  display: inline-block;
  margin-top: 1em;
}

/* Servicios */
div.servicios {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3em;
}
@media only screen and (min-width: 992px) {
  div.servicios {
    display: flex;
    justify-content: space-around;
  }
}
div.web {
  position: relative;
  height: 250px;
  width: 100%;
}
@media only screen and (min-width: 992px) {
  div.web {
    height: 250px;
    width: 265px;
  }
}
div.web::before {
  background-image: url(../img/web.png);
  content: "";
  opacity: 0.4;
}
div.web .text-servicios {
  padding: 109px 0;
  color: #ffffff;
  text-align: center;
  position: relative;
  font-size: 1.5em;
}
@media only screen and (min-width: 992px) {
  div.web .text-servicios {
    padding: 109px 0;
  }
}

div.web .enlace {
  padding: 85px 0;
}


div.web .enlace a {
  font-size: 0.6em;
  margin-top: 1em;
  display: inline-block;
}

/* Agendar llamada */
div.agendar-llamada {
  color: #ffffff;
  text-align: center;
  margin-top: 3em;
}
@media only screen and (min-width: 992px) {
  div.agendar-llamada{
    text-align: left;
  }
}
@media only screen and (min-width: 992px) {
  div.agendar-llamada {
    width: 62%;
    margin: unset;
  }
}
div.agendar-llamada h2 {
  text-align: center;
  margin: 0;
  font-size: 3em;
}
@media only screen and (min-width: 992px) {
  div.agendar-llamada h2 {
    text-align: left;
  }
}
div.agendar-llamada p {
  margin: 0 0 2.2em;
}

  /* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
